In [1]:
from g2pk import G2p
import pandas as pd
import numpy as np

In [3]:
g2p = G2p()

In [4]:
g2p("남자배구 대표팀 15일 아시아선수권 소집…임동혁·진성태 합류")

'남자배구 대표팀 시보이 라시아선수권 소집…임동혁·진성태 함뉴'

남자배구 대표팀 시보이 라시아선수권 소집…임동혁·진성태 함뉴

In [5]:
g2p("KB오토시스 작년 연결 영익업 94억원…57%↑")

'KB오토시스 장녀 년겨 령어빅 꾸십싸어권…오십칠퍼센트↑'

In [3]:
import pandas as pd
df = pd.read_csv('./test.csv')

In [4]:
nan_df = pd.read_csv('./nan_values.csv')

In [9]:
import pandas as pd

p_df = pd.DataFrame(columns=df.columns)

mask = df['text'].apply(lambda x: g2p(x) == x)

p_df = df[mask]

In [11]:
p_df.head()
print(len(p_df))

5721

In [12]:
print(len(nan_df))

4616

In [13]:
common_rows = pd.merge(nan_df, p_df, how='inner')
num_common_rows = len(common_rows)
print(num_common_rows)

4314

In [15]:
import pandas as pd
import Levenshtein

p90_df = pd.DataFrame(columns=df.columns)

def is_similar(x):
    p_x = g2p(x)
    similarity = Levenshtein.ratio(p_x, x)
    return similarity > 0.9

mask = df['text'].apply(is_similar)

p90_df = df[mask]

In [16]:
print(len(p90_df))

12079

In [17]:
common_rows_90 = pd.merge(nan_df, p90_df, how='inner')
num_common_rows_90 = len(common_rows_90)
print(num_common_rows)

4314

In [18]:
p_df.to_csv('p_df.csv', index=False)
p90_df.to_csv('p90_df.csv', index=False)

In [2]:
train_df = pd.read_csv('./train.csv')

In [4]:
g2p_df = train_df.copy()

In [5]:
g2p_df['text'] = g2p_df['text'].apply(g2p)

In [6]:
g2p_df.head()

,ID,text,target,url,date
0,ynat-v1_train_00000,개포이단지 부냥 압뚜고 개포지구 재건축 뿔부터,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37
1,ynat-v1_train_00001,삼성전자 KBIS 이영일팔서 셰프컬렉쎤 선보여,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33
2,ynat-v1_train_00002,L지 지육 싸면 보 이어포니 단도 노처눤,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00
3,ynat-v1_train_00003,신간 블록체인형명 이영사명·남자의 고독싸,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타이니 노심명 테러 혀믜로 체포,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15

In [8]:
concat_df = pd.concat([train_df, g2p_df], ignore_index=True)
concat_df.head()

,ID,text,target,url,date
0,ynat-v1_train_00000,개포2단지 분양 앞두고 개포지구 재건축 불붙어,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37
1,ynat-v1_train_00001,삼성전자 KBIS 2018서 셰프컬렉션 선보여,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33
2,ynat-v1_train_00002,LG G6 사면 BO 이어폰이 단돈 5천원,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00
3,ynat-v1_train_00003,신간 블록체인혁명 2030·남자의 고독사,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타인인 50명 테러 혐의로 체포,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15

In [9]:
concat_df.to_csv('train_g2p.csv', index=False)